@charset "UTF-8";

$launcher-titlebar-color: #454545;
$launcher-background-color: #1c1c1c;
$launcher-panel-color: #272727;
$launcher-text-color: #f0f0f0;
$launcher-button-color: #303030;
$launcher-button-color-hover: #3f3f3f;